# Hello

In [1]:
myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
myVar = "Hello"

In [2]:
print(myvar)
print(my_var)
print(_my_var)
print(myVar)

Hello
Hello
Hello
Hello

In [3]:
def hello():
    a = 10          # Here a is local variable
    print(a) 
    return
hello()

10

In [4]:
a = "Welcome to Code Unnati 2.0" # Here a is global variable
def hello():
    a = 20
    print(a)  # Here a is local variable
    return
print(a)

Welcome to Code Unnati 2.0

In [5]:
#This is integer datatype
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [6]:
#Multiple assignment
b,c,d = 11, 12, 13

In [7]:
print(a,b,c,d)

10 11 12 13

In [8]:
# addition, sub, mul, div: +, -, *, / etc
x = 5
y = 3

print(x + y)

8

In [9]:
x = 5

x *= 3

print(x)

15

In [10]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [11]:
x = 5

print(not(x > 3 and x < 10))

False

In [12]:
x = int(input("Enter the value of x : "))

#aks user to enter the value and store it in varialbe y

y = int(input("Enter the value of y : "))

#perform multiplication of x and y and store answer in variable Z

z = x*y

#Print answer

print(z)

Enter the value of x : 2
Enter the value of y : 1
2

In [13]:
statement = "      Python is a programming language      "
print(statement)      
print(type(statement))

      Python is a programming language
<class 'str'>

In [15]:
statement.lower() 
statement.upper()
statement.title()
statement.lstrip() 
statement.rstrip()
statement.strip()

'Python is a programming language'

In [16]:
string = "{} {} {}".format('Python','Programming','Language')
string

'Python Programming Language'

In [17]:
name = 'Priyanka'
course = 'Code Unnti Program 2.0'
print(f"Hello, My name is {name} and I registered for {course}")

Hello, My name is Priyanka and I registered for Code Unnti Program 2.0

In [18]:
str1 = "FACE"

In [19]:
str1[0]

'F'

In [20]:
str1[::-1]

'ECAF'

In [22]:
list1 = ["parul", 22, "Bharat", 45.5, "vadodara", 99]

In [26]:
print(list1)
print(type(list1))
list1[3]

['parul', 22, 'Bharat', 45.5, 'vadodara', 99]
<class 'list'>

45.5

In [27]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [28]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [29]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange") # insert orange at index 1
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [30]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1) # if no argument pass in pop by default it will remove last item and retun it.
print(fruits)

['apple', 'cherry']

In [31]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [32]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()  # The words will be arrange in aplphabetical order
print(cars)

['BMW', 'Ford', 'Volvo']

In [33]:
text = input("Enter the word: ") 
text.split()

Enter the word: Hello

['Hello']

In [34]:
tup1 = ("parul", 22, "Bharat", 45.5, "vadodara", 99)

print(tup1)
print(type(tup1))

('parul', 22, 'Bharat', 45.5, 'vadodara', 99)
<class 'tuple'>

In [35]:
tup1[2:4]

('Bharat', 45.5)

In [36]:
tup2=("python", 87)

tup3 = tup1 + tup2
print(tup3)

('parul', 22, 'Bharat', 45.5, 'vadodara', 99, 'python', 87)

In [37]:
cars = {
  "brand": "Mahindra",
  "model": "Thar",
  "year": 2010
}

In [38]:
print(cars["model"])

Thar

In [40]:
subjects1 = {'Physics', 'Hindi', 'Chemistry', 'maths', 'Hindi'}
print(subjects1)
print(type(subjects1))

{'Physics', 'Hindi', 'Chemistry', 'maths'}
<class 'set'>

In [41]:
subjects2 = {'History', 'Social Science', 'Biology','Hindi'}
print(subjects2)

{'Hindi', 'Biology', 'History', 'Social Science'}

In [42]:
subjects1.intersection(subjects2)

{'Hindi'}

In [43]:
subjects1.union(subjects2)

{'Biology',
 'Chemistry',
 'Hindi',
 'History',
 'Physics',
 'Social Science',
 'maths'}

In [44]:
def add_numbers(num1, num2):
    result = num1 + num2
    return result

In [45]:
sum_result = add_numbers(5, 3)
print("The sum is:", sum_result)

The sum is: 8

In [46]:
number = 10

# check if number is greater than 0
if number > 0:
    print('Number is positive.')

print('The if statement is easy')

Number is positive.
The if statement is easy

In [47]:
number = 10

if number > 0:
    print('Positive number')

else:
    print('Negative number')

print('This statement is always executed')

Positive number
This statement is always executed

In [48]:
number = int(input("Enter Number  " ))

if number > 0:
    print("Positive number")

elif number == 0:
    print('Zero')
else:
    print('Negative number')

print('This statement is always executed')

Enter Number  4
Positive number
This statement is always executed

In [49]:
i = 1
while i < 9:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [50]:
i = 0
while i < 10:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7
8
9
10

In [51]:
try:
    file = open("data.txt", "r")
    content = file.read()
    print(content)
except FileNotFoundError:
    print("Error: File not found.")
finally:
    if 'file' in locals():
        file.close()

Error: File not found.